#root {
  --primary: hsl(0 100% 80% / 1);
  --primary-dark: hsl(0 100% 70% / 1);
  --text: #222;
  align-items: center;
  margin: auto;
  position: relative;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--text);
}

body {
  line-height: 1.4;
}

header,
main {
  margin: auto;
  max-width: 90vw;
  width: 54ch;
}